* {
    box-sizing: border-box;
}

body {
    background-color: rgba(178, 171, 238, 0.767);
    margin: 0;
    padding: 0;
}

.box-conteiner {
    width: 100%;
    height: 100%;
    background-color: rgb(225, 225, 236);
}

.menu {
    text-decoration: none;
    display: inline;
    padding-top: 5px;
    padding-left: 5px;
    border: solid 1px rgb(0, 9, 128);
    border-radius: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: rgb(34, 29, 112);
    padding-bottom: 5px;
}

li {
    background-color: rgb(39, 46, 114);
    float: left;
    height: 40px;
    padding-top: 5px;
    margin-top: 4px;
    align-items: center;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(80, 117, 197);
}

.menu-teacher {
    background-color: #5e4caf;
}